@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');
body {
    background-color: aliceblue;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

figure {
    border: 0.5px solid lightgray;
    background-color: white;
}

figcaption {
    text-align: center;
    text-decoration: solid;
    font-size: 100px;
}