body {
    color: white;
}

h1 {
    color: blue;
    text-decoration: underline;
    text-align: center;
    font-size: 3vh;
}

.form-box {
    margin: auto;
    border: 2px dashed black;
    padding: 10px;
    width: 500px;
    background-image: linear-gradient(rgb(24, 159, 255), pink);
}

form {
    display: table;
}

label { 
    display: table-row; 
}

input { 
    display: table-cell; 
}

input[type=submit] {
    margin-left: 150px;
}

